<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Internal Server Error - Shopme', 'none')" />
</head>
<body>
<div class="container-fluid">
	<div th:replace="nav::header"></div>
	<div class="m-3">
		<h1 style="font-size: 100px" class="text-center text-danger">Sorry :(</h1>
		<h1 style="font-size: 100px" class="text-center">the server has encountered an error </h1>
		<h1 style="font-size: 100px" class="text-center"> while processing your request</h1>
	</div>

	<div th:replace="navigation :: footer_menu"></div>
	
</div>
</body>
</html>